// fonts

$font-primary: "Novecento Web demiBold";
$font-sub-heading: "Novecento Web";
$font-text: "Merriweather Web Light";
$font-accent: "Merriweather Web bold";

$font-size: 16px;
$line-height: 1.6rem;
$line-spacing: 1.5rem;

// colors

$primary-color: #101010;
$secondary-color: #d99054;
$text-color: #404040;
$accent-color: #248a83;
$border-color: #e1e1e1;
$white-color: #fff;
$black-color: #000;

// headings and paragraph

h1 {
  font-family: $font-primary;
  font-size: 2.5rem;
}

h2 {
  font-family: $font-primary;
  font-size: 2rem;
}

h3 {
  font-family: $font-primary;
  font-size: 1.5rem;
}

h4 {
  font-family: $font-primary;
  font-size: 1.25rem;
}

p {
  font-family: $font-text;
}

@media only screen and (min-width: $query__sm) {
  p {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2.5rem * 1.1;
  }

  h2 {
    font-size: 2rem * 1.1;
  }

  h3 {
    font-size: 1.5rem * 1.1;
  }

  h4 {
    font-size: 1.25rem * 1.1;
  }
}

@media only screen and (min-width: $query__md) {
  p {
    font-size: 1.15rem;
  }
  h1 {
    font-size: 2.5rem * 1.15;
  }

  h2 {
    font-size: 2rem * 1.15;
  }

  h3 {
    font-size: 1.5rem * 1.15;
  }

  h4 {
    font-size: 1.25rem * 1.15;
  }
}
@media only screen and (min-width: $query__lg) {
  p {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2.5rem * 1.2;
  }

  h2 {
    font-size: 2rem * 1.2;
  }

  h3 {
    font-size: 1.5rem * 1.2;
  }

  h4 {
    font-size: 1.25rem * 1.2;
  }
}
@media only screen and (min-width: $query__xl) {
  p {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 2.5rem * 1.25;
  }

  h2 {
    font-size: 2rem * 1.25;
  }

  h3 {
    font-size: 1.5rem * 1.25;
  }

  h4 {
    font-size: 1.25rem * 1.25;
  }
}
@media only screen and (min-width: $query__xxl) {
  p {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2.5rem * 1.3;
  }

  h2 {
    font-size: 2rem * 1.3;
  }

  h3 {
    font-size: 1.5rem * 1.3;
  }

  h4 {
    font-size: 1.25rem * 1.3;
  }
}
@media only screen and (min-width: $query__xxxl) {
  p {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2.5rem * 1.4;
  }

  h2 {
    font-size: 2rem * 1.4;
  }

  h3 {
    font-size: 1.5rem * 1.4;
  }

  h4 {
    font-size: 1.25rem * 1.4;
  }
}
